
[mysql]
sql_host = 127.0.0.1
sql_user = root
sql_pass = root
sql_name = mumble-sso

[ice]
host = 127.0.0.1
port = 6502
slice = /usr/share/slice/Murmur.ice

[murmur]
; Comma separated list of server IDs
servers = 1

[auth]
; If an account has not been updated for more than this number of days, it will not be able to connect.
update_days_limit = 7
