[Unit]
Description = Mumble Authenticator
After = mumble-server.service

[Service]
Type = simple
User = ubuntu
WorkingDirectory = /opt/neucore-mumble-plugin/authenticator
ExecStart = /opt/neucore-mumble-plugin/authenticator/.venv/bin/python -u mumble-authenticator.py
Restart = always
RestartSec = 5s

[Install]
WantedBy = multi-user.target
